.container {
    background-color: white;
    border-radius: 5px;
    min-height: 400px;
    min-width: 300px;
    padding: 30px;
}

.h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}