<div class="input-btn">
    <div class="container">
        <input matInput type="text" placeholder="Adicione uma tarefa" autocomplete="off" #inputToDo (keyup.enter)="adicionarToDo(inputToDo.value); resetarInput()">
        <button type="submit" class="btn" (click)="adicionarToDo(inputToDo.value); resetarInput()" >+</button>
    </div>

    <div class="scrollbar" [ngStyle]="{'height': '250px', 'margin-top': '10px'}">
        <div class="item" *ngFor="let item of toDoItens">
            <p>{{ item }}</p>
            <button class="material-icons" (click)="emitirEvento(item)">delete</button>
        </div>
    </div>

    <div class="container2">
        <p>Você tem {{ toDoItens.length }} tarefas pendentes</p>
        <button mat-button StyledBtn (click)="removerTodos()">Limpar</button>
    </div>




</div>