<div class="input-btn">
    <div class="container">
        <input matInput type="text" placeholder="Add you new todo" #inputToDo>
        <button type="submit" class="btn" (click)="adicionarToDo(inputToDo.value); resetarInput()" (keyup.enter)="adicionarToDo(inputToDo.value)">+</button>
    </div>

    <div class="scrollbar" [ngStyle]="{'height': '250px', 'margin-top': '10px'}">
        <div class="item" *ngFor="let item of toDoItens">
            <p>{{ item }}</p>
            <button class="material-icons" (click)="emitirEvento(item)">delete</button>
        </div>
    </div>

    <div class="container2">
        <p>You have {{ toDoItens.length }} pending tanks</p>
        <button mat-button StyledBtn (click)="removerTodos()">Clear All</button>
    </div>




</div>